<center> <h1> <b> Investigating the Impact of Income-Related Factors on COVID-19 Outcomes Across Countries and the Moderating Effect of Prevention Policy on This Relationship </b> </h1> </center>

<h2> Introduction </h2>

COVID-19 has a huge impact around the world, and countries with weaker economies are always more fragile to the spread of such outbreak. This paper examines the relationship between income-related factors, such as average wages, informal employment rate, and the Gini coefficient, and the number of COVID-19 diagnoses in each country to demonstrate their contribution to the spread of virus. Moreover, this research also examines the role of government efforts to combat the epidemic (including school closures, mask policies, and home office policies ect.) in mediating this relationship to test the effectiveness of government interventions.

<h2> Data Cleaning and Loading </h2>

In [66]:
#Load the first dataset, including countries and their accumulated COVID-19 confirmed case
import pandas as pd
file_path = r"C:\Users\chenr\OneDrive\ECO225Project\Data\variables\time_series_covid19_confirmed_global.csv"
confirmed_data = pd.read_csv(file_path)
confirmed_data = confirmed_data.drop(columns=['Province/State', 'Long', 'Lat'], errors='ignore')
confirmed_data.columns = [col if col == "Country/Region" else pd.to_datetime(col, errors='coerce').date() for col in confirmed_data.columns]
date_columns = confirmed_data.columns[1:]  
first_of_each_month = [col for col in date_columns if col.day == 1]
last_date = pd.to_datetime("12/1/2022").date()
first_of_each_month = [col for col in first_of_each_month if col <= last_date]
if last_date not in first_of_each_month:
    first_of_each_month.append(last_date)
columns_to_keep = ["Country/Region"] + first_of_each_month
confirmed_data_filtered = confirmed_data[columns_to_keep]
confirmed_data_filtered.rename(columns={'Country/Region': 'Country Name'}, inplace=True)
print(confirmed_data_filtered)

             Country Name  2020-02-01  2020-03-01  2020-04-01  2020-05-01  \
0             Afghanistan           0           5         192        2171
1                 Albania           0           0         259         782
2                 Algeria           0           1         847        4154
3                 Andorra           0           0         390         745
4                  Angola           0           0           8          30
..                    ...         ...         ...         ...         ...
284    West Bank and Gaza           0           0         134         353
285  Winter Olympics 2022           0           0           0           0
286                 Yemen           0           0           0           7
287                Zambia           0           0          36         109
288              Zimbabwe           0           0           8          40

     2020-06-01  2020-07-01  2020-08-01  2020-09-01  2020-10-01  ...  \
0         15836       31848       36796       38282       39371  ...
1          1143        2580        5396        9606       13806  ...
2          9513       14272       30950       44833       51690  ...
3           765         855         925        1184        2050  ...
4            86         291        1164        2729        5114  ...
..          ...         ...         ...         ...         ...  ...
284         449        2758       12160       23281       40322  ...
285           0           0           0           0           0  ...
286         354        1190        1730        1962        2039  ...
287        1089        1632        6228       12381       14802  ...
288         203         605        3659        6559        7850  ...

     2022-03-01  2022-04-01  2022-05-01  2022-06-01  2022-07-01  2022-08-01  \
0        173879      177782      178899      180419      182594      185930
1        271702      273759      275167      276221      281470      312375
2        265010      265679      265782      265887      266105      267546
3         38165       40024       41349       42894       44177       45508
4         98746       99194       99287       99761      101320      102301
..          ...         ...         ...         ...         ...         ...
284      647203      655750      657060      657705      659853      682096
285         524         535         535         535         535         535
286       11771       11806       11818       11822       11824       11877
287      312970      316941      319733      321915      325857      329483
288      236871      246414      247911      252874      255586      256382

     2022-09-01  2022-10-01  2022-11-01  2022-12-01
0        193520      199310      203167      206073
1        329615      332263      332969      333360
2        270359      270676      270839      271096
3         46027       46227       46535       47219
4        102636      103131      103131      104676
..          ...         ...         ...         ...
284      702332      702768      703036      703036
285         535         535         535         535
286       11926       11935       11939       11945
287      332822      333549      333681      333746
288      256738      257465      257893      259164

[289 rows x 36 columns]

C:\Users\chenr\AppData\Local\Temp\ipykernel_20676\1066689124.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  confirmed_data_filtered.rename(columns={'Country/Region': 'Country Name'}, inplace=True)

In [67]:
#Load the 2nd dataset, including countries and their informal employment rate
file_path = r"C:\Users\chenr\OneDrive\ECO225Project\Data\variables\SDG_0831_SEX_ECO_RT_A-20250201T1718.csv"
Inefficient_Employment = pd.read_csv(file_path)
columns_to_keep = ['ref_area.label', 'time', 'obs_value'] 
Inefficient_Employment = Inefficient_Employment[columns_to_keep]
pivot_Inefficient_Employment = Inefficient_Employment.pivot(index='ref_area.label', columns='time', values='obs_value')
pivot_Inefficient_Employment.reset_index(inplace=True)
pivot_Inefficient_Employment = pivot_Inefficient_Employment.drop(columns=[2019])
pivot_Inefficient_Employment.columns = pivot_Inefficient_Employment.columns.astype(str)
pivot_Inefficient_Employment = pivot_Inefficient_Employment.dropna(how='all', subset=['2020', '2021', '2022'])
pivot_Inefficient_Employment = pivot_Inefficient_Employment.bfill(axis=1).ffill(axis=1)
pivot_Inefficient_Employment.rename(columns={'ref_area.label': 'Country Name'}, inplace=True)
print(pivot_Inefficient_Employment)

time Country Name    2020    2021    2022
0     Afghanistan  86.395  86.395  86.395
1          Angola  90.254  90.254  92.189
2       Argentina  46.981  49.142  51.196
3       Australia  25.476  26.105  26.105
4         Austria   1.978   1.548   1.381
..            ...     ...     ...     ...
108        Uganda  95.197  95.197  95.197
109       Uruguay  21.615  21.444  22.137
111      Viet Nam  69.238  70.391  68.567
113        Zambia  84.763  85.990  85.560
114      Zimbabwe  88.439  88.439  88.306

[98 rows x 4 columns]

C:\Users\chenr\AppData\Local\Temp\ipykernel_20676\3647020162.py:11: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pivot_Inefficient_Employment = pivot_Inefficient_Employment.bfill(axis=1).ffill(axis=1)

In [69]:
#Load the 3rd dataset, including the stringent index
file_path = r"C:\Users\chenr\OneDrive\ECO225Project\Data\variables\OXFORD-CGRT.xlsx"
stringent = pd.read_excel(file_path)
stringent_id = stringent[stringent["Indicator ID"] == "OXFORD.CGRT.stringency_index"]
stringent = stringent_id.drop(columns=['Economy ISO3', 'Indicator ID', 'Indicator’， ‘Attribute 1', 'Attribute 2', 'Attribute 3', 'Partner'], errors='ignore')
stringent.columns = [col if col == "Economy Name" else pd.to_datetime(col, errors='coerce').date() for col in stringent.columns]
date_columns = stringent.columns[1:]  
columns_to_keep = ["Economy Name"] + first_of_each_month
stringent_filtered = stringent[columns_to_keep]
stringent_filtered.rename(columns={'Economy Name': 'Country Name'}, inplace=True)
print(stringent_filtered)

      Country Name  2020-02-01  2020-03-01  2020-04-01  2020-05-01  \
21           Aruba        0.00        0.00       85.19       85.19
43     Afghanistan        0.00       27.78       67.59       84.26
65          Angola        0.00        8.33       90.74       78.70
87         Albania        0.00        8.33       84.26       89.81
109        Andorra        0.00        0.00       53.70       52.78
...            ...         ...         ...         ...         ...
4005        Kosovo        0.00        0.00       92.59       92.59
4027   Yemen, Rep.        0.00        0.00       53.70       64.81
4049  South Africa        2.78        2.78       87.96       84.26
4071        Zambia        0.00       16.67       47.22       65.28
4093      Zimbabwe        8.33        8.33       87.96       87.96

      2020-06-01  2020-07-01  2020-08-01  2020-09-01  2020-10-01  ...  \
21         57.41       47.22       47.22       73.15       58.33  ...
43         84.26       78.70       78.70       28.70       28.70  ...
65         77.78       75.93       79.17       81.02       75.00  ...
87         71.30       68.52       62.96       54.63       54.63  ...
109        42.59       31.48       41.67       41.67       50.00  ...
...          ...         ...         ...         ...         ...  ...
4005       73.15       59.26       76.85       65.74       52.78  ...
4027       66.67       63.89       31.48       31.48       33.33  ...
4049       80.56       76.85       78.70       72.22       50.93  ...
4071       39.81       50.93       50.93       42.59       41.67  ...
4093       87.96       73.15       80.56       80.56       71.30  ...

      2022-03-01  2022-04-01  2022-05-01  2022-06-01  2022-07-01  2022-08-01  \
21         28.70       25.93       25.93       25.93       25.93       25.93
43         19.44       16.67       16.67       11.11       11.11       11.11
65         64.32       42.37       42.30       43.25       28.33       28.27
87         53.70       35.19       18.52       11.11       11.11       11.11
109        21.29        8.33        8.33        8.33        5.56        5.56
...          ...         ...         ...         ...         ...         ...
4005       61.39       45.84       41.32       27.63       25.06       25.05
4027       26.85       35.19       28.70       25.93       11.11        5.56
4049       40.74       34.08       36.14       35.97       11.11       11.11
4071       13.89       13.89       13.89        8.33        2.78        2.78
4093       53.28       51.05       51.02       47.12       47.10       52.64

      2022-09-01  2022-10-01  2022-11-01  2022-12-01
21         25.93       25.93       25.93       25.93
43         11.11        5.56        5.56        2.78
65         28.21       22.65       22.65       17.10
87         11.11       11.11       11.11       11.11
109         5.56        5.56        5.56       11.11
...          ...         ...         ...         ...
4005       25.04       25.04       25.04       25.04
4027        5.56        5.56        5.56        5.56
4049       11.11       11.11       11.11       11.11
4071        2.78        2.78        2.78        2.78
4093       52.63       52.62       53.70       53.70

[186 rows x 36 columns]

C:\Users\chenr\AppData\Local\Temp\ipykernel_20676\1229748167.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stringent_filtered.rename(columns={'Economy Name': 'Country Name'}, inplace=True)

In [56]:
#Load the 4th dataset, including the unemployment rate of each country 
file_path = r"C:\Users\chenr\OneDrive\ECO225Project\Data\variables\API_SL.UEM.TOTL.NE.ZS_DS2_en_csv_v2_3129.csv"
unemployment = pd.read_csv(file_path, skiprows=4)
unemployment_keep = ['Country Name', '2020', '2021', '2022'] 
unemployment_filtered = unemployment[unemployment_keep]
unemployment_filtered_cleaned = unemployment_filtered[unemployment_filtered.iloc[:, 1:].notna().any(axis=1)]
unemployment_filtered_cleaned_filled = unemployment_filtered_cleaned.bfill(axis=1).ffill(axis=1)
print(unemployment_filtered_cleaned_filled)

                   Country Name      2020      2021      2022
2                   Afghanistan  11.71000   5.67900   5.67900
3    Africa Western and Central   3.16432   3.16432   3.16432
4                        Angola  15.79900  15.79900  14.12400
5                       Albania  11.63900  11.47400  10.78500
8          United Arab Emirates   4.29400   3.10500   2.87300
..                          ...       ...       ...       ...
260                       Samoa   5.04800   5.04800   5.04800
261                      Kosovo  25.45900  20.39200  12.09300
263                South Africa  29.21700  34.00700  33.26800
264                      Zambia   6.03200   5.19700   5.99300
265                    Zimbabwe   9.54000   9.54000  10.08700

[186 rows x 4 columns]

C:\Users\chenr\AppData\Local\Temp\ipykernel_20676\3353012823.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  unemployment_filtered_cleaned_filled = unemployment_filtered_cleaned.bfill(axis=1).ffill(axis=1)

In [70]:
#Load the 5th dataset, including the average wage of each country
file_path = r"C:\Users\chenr\OneDrive\ECO225Project\Data\variables\EAR_4MTH_SEX_CUR_NB_A-20250202T1501.csv"
avg_wage = pd.read_csv(file_path)
avg_wage_cur = avg_wage[avg_wage["classif1.label"] == "Currency: U.S. dollars"]
avg_wage_keep = ['ref_area.label', 'time', 'obs_value'] 
avg_wage_filtered = avg_wage_cur[avg_wage_keep]
pivot_avg_wage_filtered = avg_wage_filtered.pivot(index='ref_area.label', columns='time', values='obs_value')
pivot_avg_wage_filtered.reset_index(inplace=True)
pivot_avg_wage_filtered = pivot_avg_wage_filtered.drop(columns=[2019])
pivot_avg_wage_filtered.columns = pivot_avg_wage_filtered.columns.astype(str)
pivot_avg_wage_filtered = pivot_avg_wage_filtered.dropna(how='all', subset=['2020', '2021', '2022'])
pivot_avg_wage_filtered = pivot_avg_wage_filtered.bfill(axis=1).ffill(axis=1)
pivot_avg_wage_filtered.rename(columns={'ref_area.label': 'Country Name'}, inplace=True)
print(pivot_avg_wage_filtered)

time Country Name     2020     2021     2022
0     Afghanistan  171.874  171.874  171.874
1         Albania  493.898  552.463  547.568
2          Angola  143.606  143.606  143.606
3       Argentina  514.353  544.819  635.912
4         Armenia  257.120  259.164  259.164
..            ...      ...      ...      ...
125       Uruguay  879.980  879.980  879.980
126    Uzbekistan  265.886  303.014  351.322
127      Viet Nam  296.184  291.293  320.607
128        Zambia  163.247  160.128  203.415
129      Zimbabwe  157.365  157.365   80.864

[116 rows x 4 columns]

C:\Users\chenr\AppData\Local\Temp\ipykernel_20676\3266333302.py:12: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pivot_avg_wage_filtered = pivot_avg_wage_filtered.bfill(axis=1).ffill(axis=1)

In [55]:
#Load the 6th dataset, including the gini coefficient of each country
file_path = r"C:\Users\chenr\OneDrive\ECO225Project\Data\variables\API_SI.POV.GINI_DS2_en_csv_v2_53.csv"
gini = pd.read_csv(file_path, skiprows=4)
gini_keep = ['Country Name', '2020', '2021', '2022'] 
gini_filtered = gini[gini_keep]
gini_filtered_cleaned = gini_filtered[gini_filtered.iloc[:, 1:].notna().any(axis=1)]
gini_filtered_cleaned_filled = gini_filtered_cleaned.bfill(axis=1).ffill(axis=1)
print(gini_filtered_cleaned_filled)

      Country Name  2020  2021  2022
5          Albania  29.4  29.4  29.4
9        Argentina  42.7  42.4  40.7
10         Armenia  25.1  27.9  27.9
14         Austria  29.8  30.7  30.7
16         Burundi  37.5  37.5  37.5
..             ...   ...   ...   ...
250        Uruguay  40.2  40.8  40.6
251  United States  39.7  39.7  41.3
252     Uzbekistan  31.2  31.2  31.2
257       Viet Nam  36.8  36.1  36.1
264         Zambia  51.5  51.5  51.5

[92 rows x 4 columns]

C:\Users\chenr\AppData\Local\Temp\ipykernel_20676\3844149613.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gini_filtered_cleaned_filled = gini_filtered_cleaned.bfill(axis=1).ffill(axis=1)

In [58]:
#Load the 7th dataset, including the population of each country
file_path = r"C:\Users\chenr\OneDrive\ECO225Project\Data\variables\API_SP.POP.TOTL_DS2_en_csv_v2_87.csv"
population = pd.read_csv(file_path, skiprows=4)
population_keep = ['Country Name', '2020', '2021', '2022'] 
population_filtered = population[population_keep]
population_filtered_cleaned = population_filtered[population_filtered.iloc[:, 1:].notna().any(axis=1)]
population_filtered_cleaned_filled = population_filtered_cleaned.bfill(axis=1).ffill(axis=1)
print(population_filtered_cleaned_filled)

                    Country Name         2020         2021         2022
0                          Aruba     108587.0     107700.0     107310.0
1    Africa Eastern and Southern  694446100.0  713090928.0  731821393.0
2                    Afghanistan   39068979.0   40000412.0   40578842.0
3     Africa Western and Central  474569351.0  485920997.0  497387180.0
4                         Angola   33451132.0   34532429.0   35635029.0
..                           ...          ...          ...          ...
261                       Kosovo    1790152.0    1786080.0    1768096.0
262                  Yemen, Rep.   36134863.0   37140230.0   38222876.0
263                 South Africa   60562381.0   61502603.0   62378410.0
264                       Zambia   19059395.0   19603607.0   20152938.0
265                     Zimbabwe   15526888.0   15797210.0   16069056.0

[265 rows x 4 columns]

C:\Users\chenr\AppData\Local\Temp\ipykernel_20676\719470628.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  population_filtered_cleaned_filled = population_filtered_cleaned.bfill(axis=1).ffill(axis=1)

<h2> Summary Statistics Tables </h2>

In [94]:
Inefficient_melted = pd.melt(pivot_Inefficient_Employment, id_vars=['Country Name'], var_name='year', value_name='Inefficient Employment')
Unemployment_melted = pd.melt(unemployment_filtered_cleaned_filled, id_vars=['Country Name'], var_name='year', value_name='Unemployment Rate')
Avg_wage_melted = pd.melt(pivot_avg_wage_filtered, id_vars=['Country Name'], var_name='year', value_name='Average Monthly wage')
Gini_melted = pd.melt(gini_filtered_cleaned_filled, id_vars=['Country Name'], var_name='year', value_name='Gini Index')
Population_melted = pd.melt(population_filtered_cleaned_filled, id_vars=['Country Name'], var_name='year', value_name='Population')

tables = [Avg_wage_melted, Inefficient_melted, Unemployment_melted, Gini_melted, Population_melted]
from functools import reduce
year_table = reduce(lambda left, right: left.merge(right, on=['Country Name', 'year'], how='inner'), tables)
print(year_table)

unique_countries = year_table['Country Name'].unique()

    Country Name  year  Average Monthly wage  Inefficient Employment  \
0      Argentina  2020               514.353                  46.981
1        Austria  2020              4753.406                   1.978
2        Belgium  2020              5760.266                   1.262
3          Benin  2020               135.693                  96.347
4         Brazil  2020               477.027                  36.730
..           ...   ...                   ...                     ...
154  Switzerland  2022              6463.190                   0.883
155         Togo  2022               137.662                  92.343
156      Uruguay  2022               879.980                  22.137
157     Viet Nam  2022               320.607                  68.567
158       Zambia  2022               203.415                  85.560

     Unemployment Rate  Gini Index   Population
0               11.461        42.7   45191965.0
1                5.201        29.8    8916864.0
2                5.545        26.0   11538604.0
3                1.685        34.4   13070169.0
4               13.697        48.9  208660842.0
..                 ...         ...          ...
154              4.122        33.7    8777088.0
155              1.965        37.9    9089738.0
156              7.877        40.6    3390913.0
157              1.523        36.1   99680655.0
158              5.993        51.5   20152938.0

[159 rows x 7 columns]

In [95]:
confirmed_data_filtered = confirmed_data_filtered[confirmed_data_filtered['Country Name'].isin(unique_countries)]
Confirmed_melted = pd.melt(confirmed_data_filtered, id_vars=['Country Name'], var_name='date', value_name='Confirmed')
stringent_filtered = stringent_filtered[stringent_filtered['Country Name'].isin(unique_countries)]
Stringent_melted = pd.melt(stringent_filtered, id_vars=['Country Name'], var_name='date', value_name='Stringent Index')

date_table = Confirmed_melted.merge(Stringent_melted, on=['Country Name', 'date'], how='inner')
print(date_table)

unique_countries1 = date_table['Country Name'].nunique()
print(unique_countries1)

     Country Name        date  Confirmed  Stringent Index
0       Argentina  2020-02-01          0            11.11
1         Austria  2020-02-01          0             0.00
2         Belgium  2020-02-01          0            11.11
3           Benin  2020-02-01          0             2.78
4          Brazil  2020-02-01          0             5.56
...           ...         ...        ...              ...
2270       Sweden  2022-12-01    2632091            11.11
2271  Switzerland  2022-12-01    4337983             5.56
2272         Togo  2022-12-01      39330            30.10
2273      Uruguay  2022-12-01     993875            13.89
2274       Zambia  2022-12-01     333746             2.78

[2275 rows x 4 columns]
50

In [104]:
date_table['year'] = pd.to_datetime(date_table['date']).dt.year
date_table['year'] = date_table['year'].astype(int)
year_table['year'] = year_table['year'].astype(int)
merged_data = date_table.merge(year_table, on=['Country Name', 'year'], how='inner')
merged_data.drop(columns=['year'], inplace=True)

ellipsis_row = pd.DataFrame([["..."] * merged_data.shape[1]], columns=merged_data.columns)
subset_data = pd.concat([merged_data.head(7), ellipsis_row, merged_data.tail(6)], ignore_index=True)
styled_table = subset_data.style.set_properties(**{
    'border': '1px solid black',
    'padding': '5px',
    'text-align': 'center'
}).set_table_styles([
    {'selector': 'th', 'props': [('background-color', '#f2f2f2'), ('font-weight', 'bold')]}
])

display(styled_table)