<center> <h1> <b> Investigating the Impact of Income-Related Factors on COVID-19 Outcomes Across Countries and the Moderating Effect of Employment Vulnerability on This Relationship </b> </h1> </center>

<h2> Introduction </h2>

In [1]:
#Load the first dataset, including countries and their accumulated COVID-19 confirmed case
import pandas as pd
file_path = r"C:\Users\chenr\OneDrive\ECO225Project\Data\variables\time_series_covid19_confirmed_global.csv"
confirmed_data = pd.read_csv(file_path)
confirmed_data = confirmed_data.drop(columns=['Province/State', 'Long', 'Lat'], errors='ignore')
confirmed_data.columns = [col if col == "Country/Region" else pd.to_datetime(col, errors='coerce').date() for col in confirmed_data.columns]
date_columns = confirmed_data.columns[1:]  
first_of_each_month = [col for col in date_columns if col.day == 1]
last_date = pd.to_datetime("12/1/2022").date()
first_of_each_month = [col for col in first_of_each_month if col <= last_date]
if last_date not in first_of_each_month:
    first_of_each_month.append(last_date)
columns_to_keep = ["Country/Region"] + first_of_each_month
df_filtered = confirmed_data[columns_to_keep]
print(df_filtered)

           Country/Region  2020-02-01  2020-03-01  2020-04-01  2020-05-01  \
0             Afghanistan           0           5         192        2171
1                 Albania           0           0         259         782
2                 Algeria           0           1         847        4154
3                 Andorra           0           0         390         745
4                  Angola           0           0           8          30
..                    ...         ...         ...         ...         ...
284    West Bank and Gaza           0           0         134         353
285  Winter Olympics 2022           0           0           0           0
286                 Yemen           0           0           0           7
287                Zambia           0           0          36         109
288              Zimbabwe           0           0           8          40

     2020-06-01  2020-07-01  2020-08-01  2020-09-01  2020-10-01  ...  \
0         15836       31848       36796       38282       39371  ...
1          1143        2580        5396        9606       13806  ...
2          9513       14272       30950       44833       51690  ...
3           765         855         925        1184        2050  ...
4            86         291        1164        2729        5114  ...
..          ...         ...         ...         ...         ...  ...
284         449        2758       12160       23281       40322  ...
285           0           0           0           0           0  ...
286         354        1190        1730        1962        2039  ...
287        1089        1632        6228       12381       14802  ...
288         203         605        3659        6559        7850  ...

     2022-03-01  2022-04-01  2022-05-01  2022-06-01  2022-07-01  2022-08-01  \
0        173879      177782      178899      180419      182594      185930
1        271702      273759      275167      276221      281470      312375
2        265010      265679      265782      265887      266105      267546
3         38165       40024       41349       42894       44177       45508
4         98746       99194       99287       99761      101320      102301
..          ...         ...         ...         ...         ...         ...
284      647203      655750      657060      657705      659853      682096
285         524         535         535         535         535         535
286       11771       11806       11818       11822       11824       11877
287      312970      316941      319733      321915      325857      329483
288      236871      246414      247911      252874      255586      256382

     2022-09-01  2022-10-01  2022-11-01  2022-12-01
0        193520      199310      203167      206073
1        329615      332263      332969      333360
2        270359      270676      270839      271096
3         46027       46227       46535       47219
4        102636      103131      103131      104676
..          ...         ...         ...         ...
284      702332      702768      703036      703036
285         535         535         535         535
286       11926       11935       11939       11945
287      332822      333549      333681      333746
288      256738      257465      257893      259164

[289 rows x 36 columns]

In [2]:
#Load the 2nd dataset, including 
file_path = r"C:\Users\chenr\OneDrive\ECO225Project\Data\variables\SDG_0831_SEX_ECO_RT_A-20250201T1718.csv"
Inefficient_Employment = pd.read_csv(file_path)
columns_to_keep = ['ref_area.label', 'time', 'obs_value'] 
Inefficient_Employment = Inefficient_Employment[columns_to_keep]
print(Inefficient_Employment)

    ref_area.label  time  obs_value
0      Afghanistan  2021     86.395
1           Angola  2022     92.189
2           Angola  2021     90.254
3           Angola  2019     88.195
4        Argentina  2022     51.196
..             ...   ...        ...
306         Zambia  2020     84.763
307         Zambia  2019     84.534
308       Zimbabwe  2022     88.306
309       Zimbabwe  2021     88.439
310       Zimbabwe  2019     88.243

[311 rows x 3 columns]

In [ ]:
#Load the 3rd dataset,